/* toolbar.css */

.portfolio-toolbar {
    margin-bottom: 20px;
}

.toolbar-list {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;
}

.toolbar-list li {
    padding: 3px;
    list-style: none;
}

.toolbar-btn {
    padding: 8px 20px;
    border: 1px solid #555555;
    color: #555555;
}

.toolbar-btn:hover {
    border-color: #b3b3b3;
    color: #b3b3b3;
}

.toolbar-btn-selected,
.toolbar-btn-selected:hover {
    color: white;
    border-color: #555555;
    background-color: #555555;
}